{% extends 'rock4b-plus.jinja2' %}
{% set connection_command = 'picocom -q -b 1500000 /dev/ttyUSB0' %}
{% set shutdown_message = 'reboot: Restarting system' %}
{% set soft_reboot_command = 'reboot' %}
